/* styles/HeapViewer.css */
.heap-viewer {
  background-color: var(--bg-color);
  padding: 20px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.svg-container {
  max-width: 800px;
  max-height: 400px;
  overflow: auto;
  border: 1px solid var(--text-color);
  border-radius: 5px;
}